* {
    box-sizing: border-box;
}

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre, 
body {
    margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
    color: black;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
}

video {
    max-width: 100%;
    height: auto;
}

*,
::before,
::after {
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
}

.google-map * {
    border-style: none;
}

body {
    font-family: "Roboto", 'Times New Roman', Times, serif;
    background-color: #F5FFF8;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d3f5dd
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #89b195;
    border-radius: 100px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #71b384;
}


header {
    background-color: #24403D;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    
    border-bottom: 2px solid black;
}

.logo {
    width: 120px;
    height: 60px;
}

header a {
    color: white;
    width: 120px;
    height: 60px;
    font-size: 17px;
}

.div-header-links {
    display: flex;
    gap: 15px;
}

.div-header-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #345350;
    font-weight: 500;
}



.div-foglalas a {
    /* Background */
    background-color: #688D7C;
    font-weight: bold;
    
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;

    letter-spacing: 1px;
}

.main-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

.welcome-front {
    /* Background */
    background-image: url(imgs/front\ page.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center 80%;

    height: 650px;

    /* Flex & Positioning */
    display: flex;
    align-items: center;
    padding-left: 10%;

    /* Border */
   
    border-bottom: 3px solid black; 
}

.welcome-front h1 {
    color: white;
    font-weight: 1000;
    font-size: 72px;

    font-family: "Kalam", cursive;
    -webkit-text-stroke: black 5px;
    pointer-events: none;
}

.welcome-front-description-below {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 10%;
}

.welcome-front-description-below  p{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    text-align: center;
    max-width: 700px;
    
}


.fenyofasor {
    background-image: url(imgs/fenyofasor\ ver.2.svg);
    background-repeat: repeat-x;
    background-size: 1000px;
    height: 150px;
    
}

.section-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.hotel-img-div {
    /* Basic Positioning */
    background: #24403D;
    width: inherit;
    height: 450px;
    

    display: flex;
    
    justify-content: right;
    align-items: end;
}


.img-hotel {
    /* Image Styles */
    background-image: url(imgs/hotel.png);
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    width: 650px;
    height: 400px;

    margin-right: -100px;
}

.description-img-radius {
    border-radius: 0px 30px 30px 0px ;
}

/* 
.description-center-flex{
    width: 100%;


    display: flex;
    justify-content: center;
} */

.flex-vertical-center {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    
    height: inherit;

   
}

.hotel-description {
    height: 500px;
    max-width: 700px;
   
    margin-right: 5%;
    margin-left: 5%;
    padding-top: 50px;
}


.heading-underline {
    margin-top: -20px;
    border-bottom: 6px solid;
}

.heading-underline-color-hotel {
    border-color: #24403D;
}

.heading {
    font-size: 50px;
    font-family: "Kalam", 'Times New Roman', Times, serif;
    /* border-bottom: 6px #24403D solid; */
    

}

.description {
    font-size: 20px;
}


