

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre, 
body {
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}

a {
    text-decoration: none;
    color: black;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
    display: block;
}

video {
    max-width: 100%;
    height: auto;
}

*,
::before,
::after {
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
}

.google-map * {
    border-style: none;
}

body {
    font-family: "Roboto", 'Times New Roman', Times, serif;
    background-color: #F5FFF8;
}

header {
    background-color: #24403D;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    
    border-bottom: 2px solid black;
}

.logo {
    width: 120px;
    height: 60px;
}

header a {
    color: white;
    width: 120px;
    height: 60px;
    font-size: 17px;
}

.div-header-links {
    display: flex;
    gap: 15px;
}

.div-header-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #345350;
    font-weight: 500;
}



.div-foglalas a {
    /* Background */
    background-color: #688D7C;
    font-weight: bold;
    
    /* Flex */
    display: flex;
    justify-content: center;
    align-items: center;

    letter-spacing: 1px;
}

.main-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 100px;
}

.welcome-front {
    /* Background */
    background-image: url(imgs/front\ page.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    background-position: center center;
    height: 650px;

    /* Flex & Positioning */
    display: flex;
    align-items: center;
    padding-left: 10%;

    /* Border */
   
    border-bottom: 3px solid black; 
}

.welcome-front h1 {
    color: white;
    font-weight: 1000;
    font-size: 72px;

    font-family: "Kalam", cursive;
    -webkit-text-stroke: black 5px;
    pointer-events: none;
}

.welcome-front-description-below {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0px 10%;
}

.welcome-front-description-below  p{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 20px;
    text-align: center;
    max-width: 700px;
    
}


.fenyofasor {
    background-image: url(imgs/fenyofasor\ ver.2.svg);
    background-repeat: repeat-x;
    background-size: 1000px;
    height: 150px;
    
}

.description-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;

    
}

.hotel-imgdiv {
    background: #24403D;

}


.img-hotel {
    /* Image Styles */
    background-image: url(imgs/hotel.png);
    background-size: 100%;
    background-position: center center;
    width: 750px;
    height: 500px;

  
}

.hotel-description {
    height: 500px;
    width: 250px;
}

.heading {
    font-size: 90px;
    font-family: "Kalam", 'Times New Roman', Times, serif;
    border-bottom: 6px #24403D solid;
    

}
